.Main-Container {
  display: grid;
  grid-template-columns: 6vh 31.5vh;
  grid-template-rows: auto auto;
}
.Navbar {
  grid-column: span 3;
  text-align: center;
  align-items: center;
  height: 4vh;
  min-height: 20px;
  background-color: #121016;
  ;
}

.Space-Selector {
  grid-column: 1;
  text-align: center;
  height: 96vh;
  background-color: #19171d;
  line-height: 125%;
}

.Thread-Selector {
  grid-column: 2;
  text-align: center;
  background-color: #19171d;
  font-family: 'Larsseit', sans-serif;
}

.Chat-Screen {
  grid-column: 3;
  text-align: center;
  background-color: #1a1d21;
}