.Main-Container {
  display: grid;
  grid-template-columns: 6vh 31.5vh;
  grid-template-rows: auto auto;
}
.Navbar {
  grid-column: span 3;
  background-color: lightgray;
  text-align: center;
  align-items: center;
  height: 4vh;
  min-height: 20px;
}

.Space-Selector {
  grid-column: 1;
  background-color: lightblue;
  text-align: center;
  height: 96vh;
}

.Thread-Selector {
  grid-column: 2;
  background-color: lightgreen;
  text-align: center;
}

.Chat-Screen {
  grid-column: 3;
  background-color: lightyellow;
  text-align: center;
}